@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

@model Fe_Admin.DTO.Account.LoginDTO

<link rel="stylesheet" href="~/css1/style.css">

<div class="wrapper">
    <div class="title">Đăng Nhập</div>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="field">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required" })
            @Html.LabelFor(m => m.Username, "Tên Đăng Nhập")
        </div>

        <div class="field">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
            @Html.LabelFor(m => m.Password, "Mật Khẩu")
        </div>

        <div class="field">
            <input type="submit" value="Đăng Nhập" class="btn btn-primary">
        </div>
    }
</div>