<!DOCTYPE html>
<html>
<head>
    
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/Login.css">



</head>
<body>

    <div class="wrapper">
        <div class="title">
            Đăng Nhập
        </div>
        <form action="#">
            <div class="field">
                <input type="text" required>
                <label>Tên Đăng Nhập</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Mật Khẩu</label>
            </div>

            <div class="field">
                <input type="submit" value="Đăng Nhập">
            </div>

        </form>
    </div>

    <div class="main-w3layouts wrapper">
        @RenderBody()
    </div>



    <script src="~/js1/jquery-3.3.1.min.js"></script>
    <script src="~/js1/popper.min.js"></script>
    <script src="~/js1/bootstrap.min.js"></script>
    <script src="~/js1/main.js"></script>
</body>
</html> 